@import url(../reindeer/legacy-styles.css);

.v-ui {
	background: url(noise-bg.png) top left repeat;
}

.v-textarea-xml-area {
	font-family: Monaco, "Courier New", monospace !important;
	font-size: 11px !important;
	height: auto !important;
	position: absolute;
	top: 49px;
	bottom: 17px;
}

.status {
	position: absolute;
	left: 11em;
	top: 0.5em;
	white-space: nowrap;
}

.status.error {
	color: red;
	background: url(../reindeer/common/icons/error.png) center left no-repeat;
	padding-left: 13px;
}

#editor {
	position: relative;
}

.xml-area {
	position: absolute;
	top: 31px;
	bottom: 0;
}

.v-caption-xml-area {
	position: relative;
	top: 1px;
	z-index: 1;
}

.v-panel-caption-result,
.v-caption-xml-area .v-captiontext {
	font-size: 12px;
	font-weight: normal;
	background: #fff;
	padding: 8px 45px;
	border-width: 1px 1px 0 1px;
	border-style: solid;
	border-color: #999;
	-moz-border-radius: 6px 6px 0 0;
	-webkit-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
}

.v-panel-content-result,
.v-caption-xml-area .v-captiontext,
.xml-area {
	background: #fff;
	border-style: solid;
	border-color: #999 !important;
}

.v-panel-content-result > div {
	background: transparent;
}

.v-panel-caption-result {
	display: inline-block;
	position: relative;
	top: 1px;
	z-index: 1;
}

.v-panel-deco-result {
	display: none;
}

.v-panel-content-result,
.xml-area {
	border-width: 1px;
	-moz-border-radius: 0 6px 6px 6px;
	-webkit-border-radius: 0 6px 6px 6px;
	border-radius: 0 6px 6px 6px;
}